body{
    background-color: #ECCEF5;
    background-image: url(lapiz.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
    padding: 2%;
}
nav{
    text-align: center;
    padding: 2%;
}
.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: white;
    background-color: #ff3385;
    border-radius: 15px;
    border: 3px double;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}
.contenido{
    background-color: #ECCEF5;
    font-family: 'Arial';
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;
    height: 40%;
    padding: 5%;
}
h1{
    color: #800033;
    font-size: 200%;
}